In [1]:
import pandas as pd

In [15]:
adf = pd.read_parquet("agent_data.pq")
mdf = pd.read_parquet("model_data.pq")
mdf.avg_profit = mdf.avg_profit.fillna(0)

In [16]:
df = pd.merge(adf, mdf, how='left', on='step')

In [18]:
df

,step,id,agent_type,venit,cost,pos_lat,pos_lon,dest_lat,dest_lon,timp_trecut_s,avg_profit
0,0,1,Depozitar,0.000000,0.000000,0.616571,0.448665,0.616571,0.448665,0,0.000000
1,0,2,Depozitar,0.000000,0.000000,0.612286,0.668073,0.612286,0.668073,0,0.000000
2,0,3,Depozitar,0.000000,0.000000,0.333543,0.444601,0.333543,0.444601,0,0.000000
3,0,4,Transportor,0.000000,0.000000,0.551986,0.730652,0.551986,0.730652,0,0.000000
4,0,5,Transportor,0.000000,0.000000,0.897287,0.453773,0.897287,0.453773,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
4897,777,4,Transportor,10.624922,70.327133,0.473640,0.742881,0.480939,0.751141,7770,-21.748366
4898,778,4,Transportor,10.624922,70.417644,0.485365,0.753928,0.480939,0.751141,7780,-21.748366
4899,779,4,Transportor,10.624922,70.508156,0.500316,0.763342,0.480939,0.751141,7790,-21.748366
4900,780,4,Transportor,10.624922,70.598667,0.491996,0.758104,0.480939,0.751141,7800,-21.748366
4901,781,4,Transportor,10.624922,70.689178,0.480939,0.751141,0.480939,0.751141,7810,-21.748366